IO_LOC "clk_in_50m" T9;
IO_PORT "clk_in_50m" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led_busy" N16;
IO_PORT "led_busy" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_pass" C17;
IO_PORT "led_pass" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
